/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

/*******************************
*                              *
*        GENERAL STYLES        *
*                              *
*******************************/

:root {
  --blue-light-color: rgb(18, 92, 255);
  --blue-media-color: rgb(0, 10, 255);
  --purple-light-color: rgb(74, 10, 224);
  --purple-color: rgb(30, 22, 59);
  --interactive-color: rgb(102, 214, 51);
  --white-color: rgb(255, 255, 255);
  --green-color: rgb(11, 233, 36);
  --black-color: rgb(14, 7, 7);
  --red-color: rgb(220, 53, 69);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body.active {
  background: var(--black-color);
  color:  var(--white-color);
}

.main-bg {
  background: var(--purple-color);
  background-position: 20%;
  background-size: contain;
  background-repeat: no-repeat;
}

.quiz-bg-1 {
  background-image: linear-gradient(
    280deg,
    rgba(0, 0, 0, 0.5),
    var(--purple-light-color)
  ),
  url(/assets/images/quiz-bg-1.png);
}

.quiz-bg-2 {
  background-image: linear-gradient(
    280deg,
    rgba(0, 0, 0, 0.5),
    var(--purple-light-color)
  ),
  url(/assets/images/quiz-bg-2.png);
}

.quiz-bg-3 {
  background-image: linear-gradient(
    280deg,
    rgba(0, 0, 0, 0.5),
    var(--purple-light-color)
  ),
  url(/assets/images/quiz-bg-3.png);
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 5px;
  font-size: clamp(1rem, 5vw, 2rem);
}

.interactive-color {
  color: var(--interactive-color) !important;
}

.gold-color {
 color: rgb(255, 215, 0);
}

.silver-color {
  color: rgb(191, 191, 191);
}

.bronze-color {
  color: rgb(180, 117, 35);
}

.container {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

#scores-page,
#game-section,
#game-end,
#trophy-page {
  height: 100vh;
}

#scores-page .logo,
#game-section .logo,
#game-end .logo,
#trophy-page .logo {
  position: absolute;
  top: 25px;
  left: 35px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  width: 200px;
  padding: 10px 25px;
  border: 2px solid var(--white-color);
  background: linear-gradient(
    90deg,
    var(--blue-light-color) 0%,
    var(--blue-media-color) 100%
  );
  border-radius: 15px;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(0.5rem, 5vw, 1rem);
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    180deg,
    var(--blue-media-color) 0%,
    var(--blue-light-color) 100%
  );
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 114, 244, 0.6);
  transform: scale(1.03);
  transition: transform 150ms;
  color: var(--interactive-color);
}

.box-score {
  background: var(--blue-light-color);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  border: 2px solid var(--white-color);
  border-radius: 15px;
  padding: 15px 20px;
  margin-top: 50px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
}

.title {
  font-size: clamp(1.3rem, 5vw, 1.8rem);
  text-align: center;
  padding: 15px;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fa-moon,
.fa-sun {
  font-size: 2rem;
  position: absolute;
  top: 40px;
  left: 25px;
}

.fa-sun.active {
  display: none;
  color: var(--purple-color);
}

.fa-moon.active {
  display: none;
}

span {
  transition: all 0.4s ease;
}

span.fade {
  color: var(--interactive-color);
}

.correct-text{
  color: var(--interactive-color)!important;
}

.incorrect-text{
 color: var(--red-color)!important;
}

.correct {
 background-color: var(--interactive-color)!important;
}

.incorrect {
 background-color: var(--red-color)!important;
}


/*******************************
*                              *
*           HOME PAGE          *
*                              *
*******************************/
#hero-section{
  background-position: 80%;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 100px;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  z-index: 2;
  transition: all 0.8s;
}

#hero-section .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

#hero-section .toggler .fa {
  position: relative;
  font-size: 30px;
  cursor: pointer;
}

#hero-section .toggler .fa-times {
  display: none;
  transition: 0.8s !important;
}

#hero-section .text {
  position: relative;
  z-index: 10;
  transition: 1.1s;
}

#hero-section.active {
  margin-left: 850px;
}

#hero-section .text h3 {
  font-size: clamp(1.4rem, 5vw, 3.5rem);
  font-weight: 700;
  padding: 25px 0;
  line-height: 2.5rem;
  text-transform: uppercase;
}

#hero-section .text p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 20px 0;
  max-width: 700px;
}

#hero-section .social {
  position: absolute;
  bottom: 40px;
  left: 50px;
  z-index: 10;
  list-style: none;
  justify-content: center;
  align-items: center;
}

#hero-section .social .fab {
  margin-right: 20px;
  font-size: 25px;
  color: var(--white-color);
  transition: 0.5s;
}

#hero-section .social .fab:hover {
  filter: invert(5);
}

#hero-section.active {
  right: 300px;
}

#hero-section .fa-times.active {
  display: block !important;
}

#hero-section .fa.active {
  display: none;
}

#menu {
  position: absolute;
  top: 0;
  right: 150px;
  width: 300px;
  height: 100%;
  display: flex;
  transition: all 0.8s;
}

#menu.active {
  right: 0;
}

#menu ul {
  list-style: none;
  position: relative;
}

#menu .logo-menu .logo {
  margin-top: 60px;
  font-size: 1.2rem;
}

/*******************************
*                              *
*          GAME PAGE           *
*                              *
*******************************/
#game-section {
  color: var(--white-color);
}

#game-section .header h4 {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: clamp(1rem, 5vw, 2rem);
}

#game-section .choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  background-color: var(--white-color);
}

#game-section .choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#game-section .choice {
  padding: 25px;
  background: linear-gradient(
    140deg,
    var(--blue-light-color),
    var(--purple-light-color)
  );
  color: white;
  margin: 0;
}

#game-section .choice-text {
  padding: 25px;
  width: 100%;
  color: var(--purple-light-color);
}

#game-section .container-questions h2 {
  margin-bottom: 58px;
  height: 70px;
  font-size: clamp(1.1rem, 5vw, 2rem);
  color: var(--white-color);
}

#game-section #scoreboard {
  display: flex;
  justify-content: space-between;
}

#game-section #scoreboard .scoreboard-text {
  text-align: center;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

#game-section #progress-text {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

#game-section #scoreboard .progress-bar {
  width: 350px;
  height: 30px;
  border: 2px solid var(--green-color);
  margin: 35px 0;
  border-radius: 50px;
  overflow: hidden;
}

#game-section #scoreboard .box-score {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#game-section #progress-bar-full {
  height: 100%;
  background-color: var(--green-color);
  width: 0;
}

/*******************************
*                              *
*       GAME END PAGE          *
*                              *
*******************************/
#game-end {
  color: var(--white-color);
}
#game-end .box-score {
  margin-bottom: 50px;
}

#game-end form {
  width: 100%;
}

#game-end form input {
  margin-bottom: 25px;
  width: 350px;
  padding: 25px;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

#game-end form input::placeholder {
  color: #aaa;
  text-align: center;
}

/*******************************
*                              *
*        SCORES PAGE           *
*                              *
*******************************/
#scores-page {
  color: var(--white-color);
}

#scores-page .highscores-box {
  background: var(--blue-media-color);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  margin: 35px;
  padding: 25px 50px;
  border: 2px solid var(--white-color);
  border-radius: 15px;
}

#scores-page ol li {
  color: var(--white-color);
  margin-bottom: 15px;
  font-size: 2rem;
}

/*******************************
*                              *
*        TROPHY PAGE           *
*                              *
*******************************/
#trophy-page {
  color: var(--white-color);
}

#trophy-page .fa-medal{
  font-size :clamp(2.5rem, 5vw, 1.8rem);
  margin: 25px 0;
}

#trophy-page .container .title {
  margin: 25px 0;
  font-size: clamp(1.8rem, 5vw, 1rem);
}


